config MACH_SEMC
	bool

config BATTERY_SEMC_ARCH
	bool "SEMC battery data handling"
	depends on ARCH_MSM
	default n
	help
	  Say Y to enable support for SEMC battery data handling in the
	  platform.

config SEMC_BATTERY_SHOW_HEALTH
	bool "Enable battery health support"
	depends on BATTERY_SEMC_ARCH
	default n if BATTERY_CHARGALG
	default y if !BATTERY_CHARGALG
	help
	  Enable if battery health property is not supported
	  in any other module besides this.
	  This enables support for power supply class
	  POWER_SUPPLY_PROP_HEALTH property.

config SEMC_CHARGER_USB_ARCH
	bool "Support USB interface for charger"
	default n
	help
	  This enables USB interface for charger.

config SEMC_RPC_SERVER_HANDSET
	bool "Enable SEMC handset rpc dispatcher"
	depends on ARCH_MSM7X30 && MSM_ONCRPCROUTER && !MSM_RPCSERVER_HANDSET
	default y
	help
	 This enables the SEMC version of rpc_server_handset message dispatcher.
	 This cannot cooperate with MSM_RPCSERVER_HANDSET. If this is set,
	 an error will be generated.
