/dts-v1/;

/include/ "skeleton.dtsi"

/ {
	model = "Qualcomm MSM7x30";
	compatible = "qcom,msm7x30";
	interrupt-parent = <&intc>;

	intc: interrupt-controller@C0080000 {
		compatible = "qcom,msm-vic";
		interrupt-controller;
		#interrupt-cells = <2>;
		reg = <0xC0080000 0x1000>;
		num-irqs = <128>;
	};

	msmhandset {
		compatible = "qcom,msm-handset";
		hs-name = "7k_handset";
		pwr-key-delay-ms = <500>; /* 0 will disable end key */
	};
};
