#include "qcom-msm7x30.dtsi"

/ {
	battery {
		compatible = "huawei,battery";
		voltage-min-design = <3200>;
		voltage-max-design = <4200>;
		technology = "LIPO";
	};

	msmhandset {
		pwr-key-delay-ms = <0>; /* 0 will disable end key */
	};
};
