config MACH_HUAWEI
	bool

menu "Huawei Board Selection"
source "arch/arm/mach-msm/huawei/Kconfig.board"
endmenu

config MSM_HUAWEI_HWPROPS
	bool "Enable Huawei hardware properties"
	depends on MACH_HUAWEI
	help
	  Enables Huawei hardware properties such as Wi-Fi/Bluetooth MAC
	  addresses, serial number.

	  Exported to userspace under /sys/hwprops.

config MSM_HUAWEI_RMT_OEMINFO
	bool "Huawei Remote Oeminfo RPC client"
	depends on (MACH_HUAWEI && ARCH_MSM && MSM_ONCRPCROUTER)
	help
	  Provide RPC mechanism for remote processors to access oeminfo storage
	  device on apps processor.

config BQ2415X_BOOST
	bool "TI BQ2415X Boost Switcher"
	depends on MACH_HUAWEI && I2C
	help
	  Provide simple I2C client for the TI BQ2415X chips, with the sole
	  purpose of configuring boost status.
